ol {
    padding: 2em !important;
}

li {
    padding: 1em 1em !important;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

li:last-child {
    border-bottom: solid 0px;
}

.centeredText {
    text-align: center;
}

.dateStyle {
    font-style: italic;
    display: block;
    text-align: right;
    font-size: 12px;
    color: #999999;
}